<!doctype html>
<html>
    <head>
        @await Html.PartialAsync("MetatagsPartial")
        @await Html.PartialAsync("CssPartial")
        
    </head>
    
    <body>   
        @await Html.PartialAsync("HeaderAdmin")
        @RenderBody();
        @await Html.PartialAsync("Footer")
    </body>
</html>