@model CardViewModel

<div class ="org">
    
    <div class = "container1">
        <a class = "back" href = "#">назад</a>
        <div class = "flex">
        <div class = "poflexim">
        
        <div class = bebra1>
        <div class = "flex">
        <div class = "photic"></div>
        <div class = "bebra5">   
        <div class = "namest">Фамилия Имя Отчество</div>
        <div class ="prod1">01.03.2003</div>
        <div class ="btn6">
            <a class = "reg-txt6" href = "#">Специальность</a>
        </div>
        <div class ="prod1">Есть опыт участия в стажировках<br>Позиция:стажер</div>
            </div>
            </div>
            </div>
        
            
            <div class = "text">
                <div class = "texttext">много текста о себе </div>
                
                <div class = "kostil"></div>
            </div>
            </div>
            
            
            <div class = "company">
            
            <div class = "we_find" style = "margin-top: 10%">Компетенции:</div>
            <div class = "we_find">компетенции</div>
            <div class ="poloska2"></div>
                
                <div class = "we_find">Предпочтения:</div>
            <div class = "we_find">предпочтения</div>
            <div class ="poloska2"></div>
                
                <div class = "we_find">Пожелания к стажировке:</div>
            <div class = "we_find">пожелания</div>
            <div class ="poloska2"></div>
            </div>
           
        </div>
            </div>