@model RegisterViewModel
<div class = "registration">
	<div class = "container1">
		<div asp-validation-summary="All"></div>
		<form asp-area="" asp-controller="Account" asp-action="Register" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
			<div class = "registr">Регистрация</div>
			<div class="E-mail" style = "width: 85%">
					<input class="searc-txt"type="text" placeholder ="E-mail" asp-for="Email"></input>
			</div>
			<div class="fam" style = "width: 85%">
				<input class="searc-txt" type="password" placeholder ="Пароль" asp-for="Password"></input>
			</div>
			<div class="password" style = "width: 85%">
				<input class="searc-txt" type="password" placeholder ="Подтвердите пароль" asp-for="PasswordConfirm"></input>
			</div>
			<div class="flex1">
				<input type = "checkbox" class="rem" asp-for="RememberMe"></input>
				<a class = "remember" >запомнить меня</a>
			</div>
			<input class = "reg-txt" style = "width: 90%" type="submit" value="Зарегистрироваться" />
		</form>
		<div class = "noakk">Уже есть аккаунт?<a class = "regis" asp-area="" asp-controller="Account" asp-action="Login">Войти</a></div>
	</div>
</div>

