html{
    box-sizing:border-box;
    
}
*,*::after, *::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    display:inline;
    
}
.h{
    font-family: "Bahnschrift";
    padding: 0;
}
.h1{
   font-size: 40px;
   color:  #ffff;
   
}
.h2{
    font-size: 26px;
    color:  #292929;
    
}
.h3{
    font-size: 32px;
    color:  #292929;
    
}
.container3{
    width: 95%;
    background-color: #ffff;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.header{
    width: 100%;
    height: 110px;
    background-color: #ffff;
    display: flex;
}
.logo{
    width: 356px;
    height: 48px;  
 }
 .avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    background-color:  #D9D9D9;
    border: none;
}
.c{
    display:flex;
    margin: 0 auto;
}
.log-in{
    width: 68px;
    height: 29px;
    cursor: pointer;
    padding: 0;
    border: 2px solid #D9D9D9;
    background-color: transparent;
}
.r{
    width: 182px;
    height: 29px;
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: transparent;
}
.footer{

    width: 100%;
    height: 1067px;
    background-image:url('../img/footer.svg');
    background-size: no-repeat;
    background-position: center;
    background-size: cover;

}
.footer1{

    width: 100%;
    height: 1067px;
    background-image:url('../img/footer.svg');
    background-size: no-repeat;
    background-position: center;
    background-size: cover;

}

.search{
    width: 100%;
    height: 900px;
    background-image:url('../img/img1.jpg');
    margin: 0,auto;
    background-position: center;
    
    
}
.sec{
    width: 100%;
    height: 200px;
    background-color: #D9D9D9;
    padding-top: 36px;
    position: relative;
    
}
.flex{
    width: 90%;
    background-color:transparent;
    border-radius: 20px;
    margin: 0 auto;
    padding-top: 36px;
    position:center;
    top: 100px;
    padding: 30px;
}
.f1{
    width: 100%;
    background-color:transparent;
    display: block;
    position:center;
    margin: 0 auto;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0;
    margin:0;
    list-style:none;
}
.card{
    width: 700px;
    height: 160px;
    background-color: #f2ce7c;
    display:block;    
}
.card_tape1{
    padding: 10px;
}
.line{
    width: 660px;
    height: 2px;
}
.s{
    display: block;
    justify-content: center;
    padding-top: 336px;
    
}
.container1{
    width: 1050px;
    height: 130px;
    margin: 0,auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.container2{
    width: 1022px;
    height: 45px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.cont1{
    width: 800px;
    height: 60px;
    border-radius: 20px;
    cursor: pointer;
    padding: 0;
    background-color:  #fff;
    border: none;
    
}
.cont2{
    width: 160px;
    height: 65px;
    border-radius: 20px;
    cursor: pointer;
    padding: 0;
    background-color:  #E3702F;
    border: none;
}
.cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.cont5{
    display: flex;
    align-items: center;    
}
.flex-container {
    width: 100%;
    height: 300px;
    display: flex;
    flex-flow: row nowrap;
}
  
.first {
    background:#fff;
    height: 1000px;
    flex-grow: 3;
}
  
.second {
    background:#fff;
    height: 1000px;
    flex-grow: 7;
}
.b1{
    width: 163px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    padding: 0;
    border: 2px solid #fff;
    background-color: transparent;
}
.b2{
    width: 207px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    padding: 0;
    border: 2px solid #fff;
    background-color: transparent;
}
.bloc2{
    width: 234px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    padding: 0;
    border: 2px solid #fff;
    background-color: transparent;
}
.bloc1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bloc{
    
    max-width:1700;
    padding:0 15px;
    margin:0,auto;
    background-color: royalblue;
    border-radius: 15px;
}
.conteiner{
    width: 1050px;
    margin: 0,auto;
    margin-left: auto;
    margin-right: auto;
    background-color:  #D9D9D9;
    

}
.coupon {
    border: 5px dotted #E3702F; 
    width: 75%;
    border-radius: 15px; 
    margin: 0 auto; 
    max-width: 800px;
}

.container {
    padding: 2px 16px;
    background-color: transparent;
}

.expire {
    color:#E3702F;
}

@font-face {
    
    font-family: "Bahnschrift"; 
    src: url("../fonts/Bahnschrift.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 