<header class="header">
        <div class="container">
            <img src="~/img/Logo.png" class="logo">
            <c>
                <button class="log-in"><h style="font-size: 24px; color: #292929;">Войти</h></button>
                <button class="r"><h style="font-size: 24px; color:#E3702F;">Создать резуме</h></button>
            </c>

        </div>
    </header>

