    <div class='header'>
        <div class='container'>
            <div class='header-line'>
                <div class='header-logo'>
                    <a class="nav-item" asp-area="" asp-controller="Home" asp-action="Index">
                        <img class ="hd" src="~/img/logo.png" alt="/">
                    </a>
                </div>


                <div class='nav'>

                <a class="nav-item" asp-area="" asp-controller="Account" asp-action="Login" >Предложить активность</a>
                <a class="nav-item" asp-area="" asp-controller="Cards" asp-action="Events" >Мероприятия</a>
                <a class="nav-item" asp-area="" asp-controller="Cards" asp-action="PointsOfInterst">Точки интереса</a>
                </div>


                <div class="search-box">
                    <form asp-area="" asp-controller="Cards" asp-action="Page" method="post"  >
                        <input class="search-txt" type="text" name="keyWords" id="keyWords">
                            <img class="search-btn" src="~/img/lupa.svg" alt="/">
                        </input>
                    </form>
                </div>

                 <a class="nav-item2" asp-controller="Account" asp-action="Login">Вход</a>
            </div> 
        </div> 
    </div>
