    <div class = "flex2">    
    <p>FEFU hobbies – твой лучший помощник при выборе досуга на кампусе! Благодаря этому сервису ты сможешь быстро и удобно выбрать мастер-класс, лекцию, встречу или другой вид активности по интересующему тебя направлению. На сайте собраны различные места на кампусе, где ты можешь погулять, отдохнуть или поработать. Присоединяйся к студенческим организациям, общайся с единомышленниками, расширяй кругозор и знакомься с новыми людьми. Отдыхай, учись, наслаждайся!
    </p>
    <img src="~/img/chaika.png" class = "ck" >
    </div>
    <a class = "public" asp-area="" asp-controller="home" asp-action="Index">Вернуться на главную</a>