<section class="search">
        <div class="s">
            <div class="container1">
                <h class="h1">
                Твоя стажировка
                </h>
                <div class="cont">
                    <button class="cont1"></button>
                    <button class="cont2">
                        <h style="font-size: 25px; color: #ffff;">
                        поиск
                        </h>
                    </button>
                </div>
            </div>

            <div class="container2">
                <div class="bloc1">
                    <button class="b1"><h style="font-size: 20px; color: #ffff;">О сервисе</hstyle=></button>
                    <button class="b2"><h style="font-size: 20px; color: #ffff;">Работадателям</h></button>
                </div>

                <button class="bloc2">
                    <h style="font-size: 20px; color: #ffff;">Раширенный поиск</h>
                </button>
            </div>
        </div>
    </section>
    <section>
        <div class="flex">
            <div>
                <h class="h3">
                    Стажировки дня
                </h>
            </div>
            <div class="conteiner">
               <ul class="cards">
                    <a class = "card" asp-area="" asp-controller="Cards" asp-action="CardView" asp-route-id="0" asp-route-retCtrl="Home" asp-route-retAcr="Index">
                    <li class="card card_tape1">
                    <h>
                        <div class="coupon">
                            <div class="container">
                              <h2>Очень крутая стажировка</h2>
                            </div>
                            <div class="container">
                                <h3 style="font-size: 20px">Крутое краткое описание</h3>
                            </div>
                            <div class="container">
                              <p class="expire"style="font-size: 20px;">от 100000 руб</p>
                            </div>
                          </div> 
                    </h>
                    </li>
                    </a>
                    <li class="card card_tape1">
                    <h>
                        <div class="coupon">
                            <div class="container">
                              <h2>Очень крутая стажировка</h2>
                            </div>
                            <div class="container">
                                <h3 style="font-size: 20px">Крутое краткое описание</h3>
                            </div>
                            <div class="container">
                              <p class="expire"style="font-size: 20px;">от 100000 руб</p>
                            </div>
                          </div> 
                    </h>
                    </li>
                    <li class="card card_tape1">
                    <h>
                        <div class="coupon">
                            <div class="container">
                              <h2>Очень крутая стажировка</h2>
                            </div>
                            <div class="container">
                                <h3 style="font-size: 20px">Крутое краткое описание</h3>
                            </div>
                            <div class="container">
                              <p class="expire"style="font-size: 20px;">от 100000 руб</p>
                            </div>
                          </div> 
                    </h>
                    </li>
                    <li class="card card_tape1">
                    <h>
                        <div class="coupon">
                            <div class="container">
                              <h2>Очень крутая стажировка</h2>
                            </div>
                            <div class="container">
                                <h3 style="font-size: 20px">Крутое краткое описание</h3>
                            </div>
                            <div class="container">
                              <p class="expire"style="font-size: 20px;">от 100000 руб</p>
                            </div>
                          </div> 
                    </h>
                    </li>
                    <li class="card card_tape1">
                    <h>
                        <div class="coupon">
                            <div class="container">
                              <h2>Очень крутая стажировка</h2>
                            </div>
                            <div class="container">
                                <h3 style="font-size: 20px">Крутое краткое описание</h3>
                            </div>
                            <div class="container">
                              <p class="expire"style="font-size: 20px;">от 100000 руб</p>
                            </div>
                          </div> 
                    </h>
                    </li>
                    <li class="card card_tape1">
                    <div class="coupon">
                        <div class="container">
                          <h2>Очень крутая стажировка</h2>
                        </div>
                        <div class="container">
                            <h3 style="font-size: 20px">Крутое краткое описание</h3>
                        </div>
                        <div class="container">
                          <p class="expire"style="font-size: 20px;">от 100000 руб</p>
                        </div>
                      </div> 
                    </li>
                </ul>

            </div>
        </div>
    </section>