html {
box-sizing: border-box;
font-size: calc(100vw / 2560 * 10);
}
.container
{
    margin: 0px 20rem
}

.header
{
    background-color:#FFF;
    height: 10rem;
}
.hd{
    width: 15rem;
    padding-top: 2rem;
}
.lp
{
    height: 2.5rem;
}
.sp
{
    height: 2.5rem;
}
.lr
{
    height: 5rem;
}
.header-line
{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.search-box
{
    background:#F5F5F5;
    height: 2.5rem;
    width: 48rem;
    border-radius: 4rem;
    padding:1rem;
}
.sr
{
    height: 70rem;
}
.search-btn
{
    color:#000;
    float: right;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background: #FFF;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.search-txt
{
    border:none;
    background: #F5F5F5;
    outline: none;
    float:left;
    width: 40rem;
    height: 2.5rem;
}

.nav-item
{
    color:#000;
    text-decoration: none;
    font-family: 'Corbel';
    font-style: normal;
    
    font-size: 3.2rem;
    margin-right: 7rem;
}
.nav-item2
{
     color:#000;
    text-decoration: none;
    font-family: 'Corbel';
    font-style: normal;
    
    font-size: 3.2rem;

}
.card_open
{
    background-color: #F1A000;
    height: 75rem;
    border-radius: 2rem;
    margin-top: 15rem;
    display: flex;
    justify-content: space-between;
    

}
.cardopen_txt
{
    color: white;
    font-family: 'Corbel';
    font-style: normal;
    font-weight: 900;
    font-size: 9rem;
    line-height: 140%;
    padding-top: 10rem;
    padding-left: 7.5rem;
}

.btn_cardopen_txt
{
    
    background-color: white;
    width: 60rem;
    height: 6rem;
    border-radius: 20px;
    
    font-family: 'Corbel';
    font-style: normal;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}
.cardopen_image
{
    padding-top: 1rem;
    padding-right: 10rem;
}
.flex1
{
    display: flex;
    justify-content: space-between;
}
.this_week
{
color: #3B63AB;
margin-top: 10rem;
width: 31.9rem;
height: 5.8rem;
left: 15.8rem;
top: 89rem;

font-family: 'Corbel';
font-style: normal;
font-weight: 400;
font-size: 4.7rem;
line-height: 5.8rem;
}
.all_meet
{
color: #3B63AB;
margin-top: 10rem;
padding-left: 155rem;
width: 18.1rem;
height: 2.9rem;
left: 156.9rem;
top: 90.1rem;

font-family: 'Corbel';
font-style: normal;
font-weight: 400;
font-size: 2.4rem;
line-height: 2.9rem;
}

.card
{
    background-color: #FFF;
    stroke:blue;
    height: 65rem;
    width: 37.5rem
    border-radius: 1rem;
    margin-top: 9rem;
    display: flex;
    justify-content: space-between;  
    text-decoration: none;
}
.card-photo
{
    background-color: #3B63AB;
    height: 50rem;
    width: 35.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    
}

.card-txt1
{
    text-decoration: none;
    background-color: #FFF;
    height: 2rem;
    width: 3rem;
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 1.5rem;
    
    font-family: 'Corbel';
    font-style: normal;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}

.card-txt2
{
    background-color: #FFF;
    height: 2rem;
    width: 4rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 1.5rem;
    
    font-family: 'Corbel';
    font-style: normal;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items:center;
    color: black;
    text-decoration: none;
}

.card-txt3
{
    margin-left: 1rem;
    margin-top: 52rem;
    border-radius: 1.5rem;
    
    font-family: 'Corbel';
    font-style: normal;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}
.card-txt4
{   
    font-family: 'Corbel';
    font-style: normal;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}
.end-line
{
    padding-top:3rem;
    display:flex;
    align-items: center;
    justify-content: space-around;

}
.end
{
    background-color: #FFF;
    height: 12rem;
    width: 99.6%;
    bottom: 0;
    margin-top: 10rem;
}
.serv
{
    color: black;
    text-decoration: none;
}
.about
{
    color: black;
    text-decoration: none;
}
.meet
{
    color: black;
    text-decoration: none;
}
.org
{
    color: black;
    text-decoration: none;
}
.loc
{
    color: black;
    text-decoration: none;
}
.about-projetc
{
    font-family: 'Corbel';
font-style: normal;
font-weight: 400;
font-size: 3rem;
line-height: 3.6rem;
text-align: center;

color: #737373;
}
.a—Åtivites
{
    font-family: 'Corbel';
font-style: normal;
font-weight: 400;
font-size: 3rem;
line-height: 3.6rem;


color: #737373;
}
.container1
{
    margin: 0px 7rem
}
.log
{
margin-top: 20rem;
margin-left: 40%;
height: 60rem;
width: 50rem;
background: #FFFFFF;
border-radius: 1rem;
}
.vhod
{
font-family: 'Corbel';
font-style: normal;
font-weight: 400;
font-size: 4.8rem;
line-height: 5.8rem;
text-align: center;
padding-top: 2rem;
color: #000000;
margin-top: 5rem;

}
.searc-txt
{
    border:none;
    background: #F5F5F5;
    outline: none;
    float:left;
    width: 28rem;
    font-size: 2.5rem;
    height: 2.5rem;
}
.E-mail
{
    background:#F5F5F5;
    height: 3rem;
    width: 30rem;
    border-radius: 1rem;
    padding:1rem;
    margin-left: 2.5rem;
    margin-top: 2rem;
}
.password
{
    background:#F5F5F5;
    height: 3rem;
    width: 30rem;
    border-radius: 1rem;
    padding:1rem;
    margin-left: 2.5rem;
    margin-top: 2rem;
}
.rem
{
    margin-top: 6.5rem;
    width: 1.1rem;
    height: 1.1rem;
}
.remember
{
margin-right: 12.5rem;
font-family: 'Corbel';
font-style: normal;
font-weight: 400;
font-size: 1.6rem;
line-height: 1.9rem;
text-align: center;
 margin-top: 6rem;
color: #F1A000;
text-decoration: none;
}
.forgot
{
font-family: 'Corbel';
font-style: normal;
font-weight: 400;
font-size: 1.6rem;
line-height: 1.9rem;
text-align: center;
 margin-top: 6rem;
color: #F1A000;
    text-decoration: none;
}

.voiti-txt
{
    
    background-color: #3B63AB;
    width: 32.5rem;
    height: 6rem;
    border-radius: 1rem;
    margin-left: 2.5rem;
    
    font-family: 'Corbel';
    font-style: normal;
    font-size: 3rem;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-decoration: none;
}
.or
{
    margin-top: 1rem;
    font-family: 'Corbel';
font-style: normal;
font-weight: 400;
font-size: 2rem;
line-height: 2.4rem;


color: #737373;
}
.btn
{
    background-color: #000;
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
}
.noakk
{
font-family: 'Corbel';
font-style: normal;
font-weight: 400;
font-size: 1.8rem;
line-height: 1.9rem;
text-align: center;
margin-top: 3rem;
}
.regis
{
font-family: 'Corbel';
font-style: normal;
font-weight: 400;
font-size: 1.8rem;
line-height: 1.9rem;
text-align: center;
 text-decoration: none;
color: #F1A000;

}

.registration
{
margin-top: 20rem;
margin-left: 40%;
height: 60rem;
width: 50rem;
background: #FFFFFF;
border-radius: 1rem;
}

.registr
{
    padding-top: 2rem;
font-family: 'Corbel';
font-style: normal;
font-weight: 400;
font-size: 4.8rem;
line-height: 5.8rem;
text-align: center;

color: #000000;
margin-top: 5rem;
}
.name
{
    background:#F5F5F5;
    height: 3rem;
    width: 30rem;
    border-radius: 1rem;
    padding:1rem;
    margin-left: 2.5rem;
    margin-top: 2rem;
}
.fam
{
    background:#F5F5F5;
    height: 3rem;
    width: 30rem;
    border-radius: 1rem;
    padding:1rem;
    margin-left: 2.5rem;
    margin-top: 2rem;
}
.reg-txt
{
    
    background-color: #3B63AB;
    width: 32.5rem;
    height: 6rem;
    border-radius: 1rem;
    margin-left: 2.5rem;
    margin-top: 3rem;
    font-family: 'Corbel';
    font-style: normal;
    font-size: 3rem;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-decoration: none;
}
.org
{
margin: 1rem 50rem;
}
.back
{
    font-family: 'Corbel';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #F1A000;
    text-decoration: none;
}
.phot
{
    width: 55rem;
    height: 60rem;
    background-color: #3B63AB;
    border-radius: 1rem;
}
.name-meet
{
    width: 85rem;
    height: 45rem;
    background-color: #FFF;
    border-radius: 1rem;
}
.name-meet-txt
{
    font-family: 'Corbel';
font-style: normal;
font-weight: 400;
font-size: 4rem;
line-height: 4.8rem;
    margin-left: 2.5rem;
    margin-top:1rem;
}
.text-meet
{
    margin-left: 2.5rem;
    margin-top:1rem;
    font-family: 'Corbel';
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.9rem;
}
.tip
{
    
    margin-right: 2rem;
    margin-top: 30rem;
    float: right;
    background: #F5F5F5;
    border-radius: 1.5rem;
    width: 8rem;
    height: 4rem;
    text-align: center;
    font-family: 'Corbel';
font-style: normal;
font-weight: 400;
font-size: 2rem;
line-height: 3.6rem;
text-align: center;
}
.teg
{
    
    margin-right: 4rem;
    margin-top: 30rem;
    float: right;
    background: #F5F5F5;
    border-radius: 1.5rem;
    width: 8rem;
    height: 4rem;
    text-align: center;
    font-family: 'Corbel';
font-style: normal;
font-weight: 400;
font-size: 2rem;
line-height: 3.6rem;
text-align: center;
}
.info-meet
{
    width: 85rem;
    height: 10rem;
    background-color: #FFF;
    border-radius: 1rem;
    margin-left: 69rem;
    margin-top: -10rem;
}
span
{
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    font-family: 'HeliosC';
font-style: normal;
font-weight: 400;
font-size: 2.4rem;
line-height: 2.8rem;
text-align: center;
}
.btn-go
{
    margin-right: 3rem;
    margin-top: 1.5rem;
    width: 30rem;
    height: 7.5rem;
    background-color: #F1A000;
    border-radius: 1rem;
    text-align: center;
    color:#FFF;
    font-family: 'Corbel';
    font-style: normal;
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 6.5rem;
    text-decoration: none;
}

.container2
{
    margin: 5rem 60rem;
}
.new-meet
{
font-family: 'Corbel';
font-style: normal;
font-weight: 400;
font-size: 3.6rem;
line-height: 4.3rem;
}
.obl
{
    height: 15rem;
    width: 66.5rem;
    background-color: #FFF;
    border-radius: 1rem;
}
.obloj
{
font-family: 'Corbel';
font-style: normal;
font-weight: 400;
font-size: 3rem;
line-height: 3.6rem;
margin-top: 1rem;
text-align: center;
}
.btn-upload
{
    margin-top: 1rem;
    text-align: center;
}

.upload_photot {
	position: relative;
	display: inline-block;
}
.upload_photot input[type=file] {
	opacity: 0;
	width: 0;
	height: 0;
}

.upload_photot
{
    width: 40%;
    height: 4rem;
    text-decoration: none;
    background-color: #F5F5F5;
    color: #000;
    font-family: 'Corbel';
    font-style: normal;
    font-weight: 300;
    font-size: 3.2rem;
    line-height: 3rem;
    
    border-radius: 1rem;
    color: #737373;
}
.setupload
{
margin-top: 2rem;
font-family: 'Corbel';
font-style: normal;
font-weight: 400;
font-size: 2rem;
line-height: 2.3rem;
color: #737373;
}
.who
{
    height: 60%;
    width: 45%;
    background-color: white;
    border-radius: 1rem;
    
}

  .custom-radio {
    margin-top: 5%;
    opacity: 0;
  }
  .custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
.custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: 0.1rem solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    border-color: #F1A000;
  }


  .custom-radio:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
  }


  .custom-radio:focus:not(:checked)+label::before {
    border-color: #80bdff;
  }

  .custom-radio:checked+label::before {
    border-color:#F1A000;
    background-color: #F1A000; 
  }
.who-can
{
    margin-top: 5%;
    margin-left: 5%;
    font-family: 'Corbel';
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.1rem;
}
.wait
{
    width: 66.5rem;
    height: 45rem;
    background-color: white;
    border-radius: 1rem;
}
.name-txt
{
    border:none;
    background: #FFF;
    outline: none;
    float:left;
    width: 80%;
    height: 10%;
    border-radius: 1rem;
    font-size: 2.4rem;
}

.about_meet
{
    width: 57.5rem;
    height: 40rem;
    resize: none;
    border:none;
    outline: none;
    padding-left: 7%;
    font-size: 1.6rem;
}
.pdt
{
    width: 45%;
    height: 25rem;
    border-radius: 1rem;
    background-color: #FFF;
    margin-top: 3%;
}
.npdt
{
    font-family: 'Corbel';
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.6rem;
    text-align: center;
    padding-top: 2%; 
}
.place-txt
{
   border:none;
    background: #FFF;
    outline: none;
    float:left;
    width: 90%;
    height: 10%;
    border-radius: 1rem;
    font-size: 2rem; 
    padding-top: 3%;
    padding-left: 7%;
}
.datatxt
{
    font-family: 'Corbel';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.6rem;
    padding-top: 2%;
}
.container3
{
    margin-left: 7%;
}
.datameet
{
    width: 15rem;
    font-size: 1.5rem;
    height: 3rem;
    border-width: 0.2rem;
    border-radius: 1.2rem;
    border-color: #3B63AB;
    outline-color: #3B63AB;
}
.time-to-start
{
    width: 5rem;
    height: 2rem;
    border-width: 0.2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border-color: #3B63AB;
    outline-color: #3B63AB;
}
.time-to-stop
{
    height: 2rem;
    width: 5rem;
    border-width: 0.2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border-color: #3B63AB;
    outline-color: #3B63AB;
}
.ot
{
font-family: 'Corbel';
font-style: normal;
font-weight: 400;
font-size: 1.2rem;
}
.do
{
font-family: 'Corbel';
font-style: normal;
font-weight: 400;
font-size: 1.2rem;
}
.vid-meet
{
    width: 29rem;
    height: 12rem;
    background-color: #FFF;
    margin-top: 5%;
    border-radius:1rem;
}
.vid
{
font-family: 'Corbel';
font-style: normal;
font-weight: 400;
font-size: 3rem;
line-height: 3.6rem;
text-align: center;
padding-top: 5%;
}
.listic
{
    width: 16.5rem;
    border-color: #3B63AB;
    border-radius: 1rem;
    height: 3rem;
    border-width: 0.2rem;
    margin-left: 20%;
    margin-top: 5%;
}
.teg-meet
{
    width: 29rem;
    height: 12rem;
    background-color: #FFF;
    margin-top: 5%;
    border-radius:1rem;
    margin-left: 37rem;
    margin-top: -12rem;
}
.public
{
    
    background-color: white;
    width: 50%;
    height: 8rem;
    border-radius: 2rem;
    background-color: #3B63AB;
    margin-top: 5%;
    font-family: 'Corbel';
    font-style: normal;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}
.cur
{
font-family: 'Corbel';
font-style: normal;
font-weight: 400;
font-size: 3rem;
line-height: 3.6rem;
text-align: center;
padding-top: 5%;
}

@media only screen and(max-width:500px){
    
}